@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #676767;
  background: #F3E7DC;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rye', cursive;
  font-weight: 300;
}
p {
  font-weight: 300;
}
button, input, optgroup, select, textarea {
  color: black;
}
.font-normal {
  font-weight: 400;
}
.font-semi-bold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.starter-template {
  margin-top: 250px;
}
.starter-template .content {
  margin-left: 10px;
}
.starter-template .content h1 {
  margin-top: 10px;
  font-size: 60px;
}
.starter-template .content h1 .smaller {
  font-size: 40px;
  color: #f2b7bd;
}
.starter-template .content .lead {
  font-size: 25px;
  color: #f2b7bd;
}
.starter-template .content .lead .font-normal {
  color: #ffffff;
}
.starter-template .links {
  float: right;
  right: 0;
  margin-top: 125px;
}
.starter-template .links ul {
  display: block;
  padding: 0;
  margin: 0;
}
.starter-template .links ul li {
  list-style: none;
  display: inline;
  margin: 0 10px;
}
.starter-template .links ul li:first-child {
  margin-left: 0;
}
.starter-template .links ul li:last-child {
  margin-right: 0;
}
.starter-template .links ul li.current-version {
  color: #f2b7bd;
  font-weight: 400;
}
.starter-template .links ul li a, a {
  color: #f2b7bd;
  text-decoration: underline;
}
.starter-template .links ul li a:hover, a:hover {
  color: #ffffff;
  text-decoration: underline;
}
.starter-template .links ul li .icon-muted {
  color: #eb8b95;
  margin-right: 5px;
}
.starter-template .links ul li:hover .icon-muted {
  color: #ffffff;
}
.starter-template .copyright {
  margin-top: 10px;
  font-size: 0.9em;
  color: #f2b7bd;
  text-transform: lowercase;
  float: right;
  right: 0;
}
@media (max-width: 1199px) {
  .starter-template .content h1 {
    font-size: 45px;
  }
  .starter-template .content h1 .smaller {
    font-size: 30px;
  }
  .starter-template .content .lead {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .starter-template {
    margin-top: 0;
  }
  .starter-template .logo {
    margin: 40px auto;
  }
  .starter-template .content {
    margin-left: 0;
    text-align: center;
  }
  .starter-template .content h1 {
    margin-bottom: 20px;
  }
  .starter-template .links {
    float: none;
    text-align: center;
    margin-top: 60px;
  }
  .starter-template .copyright {
    float: none;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .starter-template .content h1 .smaller {
    font-size: 25px;
    display: block;
  }
  .starter-template .content .lead {
    font-size: 16px;
  }
  .starter-template .links {
    margin-top: 40px;
  }
  .starter-template .links ul li {
    display: block;
    margin: 0;
  }
  .starter-template .links ul li .icon-muted {
    display: none;
  }
  .starter-template .copyright {
    margin-top: 20px;
  }
}

div.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

div.option {
  border: 2px dashed black;

  width: 30%;
  padding-bottom: 20%; /* Same as width, sets height */
  margin: 2%; /* (100-32*3)/2 */
  position: relative;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

div.option.ordered {
  border: 2px dotted #558EC4;
}

div.option.asada {
  background-image: url('icons/bull_skull.png');
}

div.option.nopal {
  background-image: url('icons/cactus.png');
}

div.option.pastor {
   background-image: url('icons/pig.png');
}

div.option.cricket {
  background-image: url('icons/cricket.png');
}

div.option.chicken {
  background-image: url('icons/hen.png');
}

div.option.fish {
  background-image: url('icons/fish.png');
}

div.option.avocado {
  background-image: url('icons/avocado.png');
}

div.option.cheese {
  background-image: url('icons/cheese.png');
}

div.option.elote {
  background-image: url('icons/elote.png');
}

div.option.pepper {
  background-image: url('icons/pepper.png');
}

div.option.tortilla {
  background-image: url('icons/tortilla.png');
}

div.option.waffle {
  background-image: url('icons/waffle.png');
}

#feature-flags {
  color: black;
  font-weight: 800;
}

#feature-flags li {
  padding-bottom: 3px;
}

#order-result {
  text-transform: uppercase;
}

h4.ordered, span.ordered {
  color: #558EC4;
}